.wallet-toolbar-cls{
    background:transparent;
    text-align: center;
    left:0px !important;
    padding: 10px 0px 10px 10px;
    .x-box-inner{
       border-top: 1px solid #EBEBEB;
    }
}
.formWindow-cls .x-window-body {
    position: relative;
    overflow: hidden;
    padding: 28px 0px 0px 50px;
}
.employeeCombo-cls {
    width: 87%;
    border-bottom: 1px solid #dcdcdc;
}
.employeeDesc-cls{
    width: 87%;
    padding-top: 4px !important;
    border-bottom: 1px solid #dcdcdc;
}
.employeePoints-cls{
    width: 38%;
    border-bottom: 1px solid #dcdcdc;
}
.employeeYear-cls{
    width: 46%;
    left: 41% !important;
    border-bottom: 1px solid #dcdcdc;
}