.karmaapproval-random-toolbar{
    background-color: #0277a3  !important;
    .x-btn-inner-default-toolbar-small{
        text-align: left;
font: normal normal 600 15px/20px Segoe UI;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
    }
    .x-component.x-box-item.x-toolbar-item.x-component-default{
        text-align: left;
        font: normal normal 600 15px/20px Segoe UI;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
}