
.karmarejectwin-cls{
    .x-panel-header, .x-window-header{
       // background: #fff !important;
       // border-color: #fff !important;
        .x-tool-img {
        background-color:#fff !important;
    }}
    .x-tool-close:before {
        color: black;
    }
   
   
    .x-title-text-default{
        color:#f0f0f0;
        font-size: 19px;
        text-align: center;
 }
}
.karmarejectwin-cls.x-window-default{
    border: 1px solid #707070 !important;
}
.ddo-rejectkarma-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #707070 ;
    }
    .x-form-text-default{
        background-color: #ECECEC;
    }
}
.ddo-karmaNmae-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #707070 ;
    }
    .x-form-text-default{
        background-color: #ECECEC;
    }
    left: 260px !important;
}
.ddo-deriviedpoints-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #707070 ;
    }
    .x-form-text-default{
        background-color: #ECECEC;
    }
    left: 174px !important;
}
.ddo-category-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #707070 ;
    }
    .x-form-text-default{
        background-color: #ECECEC;
    }
    left: 346px !important;
}
.ddo-financekarmaunits-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #707070 ;
    }
    .x-form-text-default{
        background-color: #ECECEC;
    }
    left: 346px !important;
}
.ddo-monthyear-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #707070 ;
    }
    .x-form-text-default{
        background-color: #ECECEC;
    }
    left: 174px !important;
}
.ddo-hrcomments-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #707070 ;
    }
    .x-form-text-default{
        background-color: #ECECEC;
    }
    top: -10px !important;
    width: 229px !important;
}
.ddo-karmacomments-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #707070 ;
    }
    .x-form-text-default{
        background-color: #ECECEC;
    }
    height: 116px !important;
}
.ddo-reasoncomments-cls{
    height: 116px !important;
}

.ddo-financecomments-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #707070 ;
    }
    .x-form-text-default{
        background-color: #ECECEC;
    }
    top: -10px !important;
    left: 261px !important;
    width: 229px !important;
}
.ddo-usercomments-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #dcdcdc ;
    }
   // top: -10px !important;
    left: 14px !important;
    width: 404px !important;
    .x-form-text-default {
        background-color: #ececec;
    }
}
.karma-rejectrequest-cls{
    .x-form-trigger-wrap-default {
        border: 1px solid #707070 ;
    }
}
.rejectbutton-cls{
    background-color:grey !important;
    width: 130px;
    height: 40px;
}
.savebutton-cls{
    background-color: #4caf50 !important;
    width: 130px;
    height: 40px;
}
.savebutton-cls .x-btn-inner-default-toolbar-small{
    color:white !important
}
.rejectbutton-cls .x-btn-inner-default-toolbar-small{
    color:white !important
}
.finance-container-cls{
    left: 275px !important;
}
// .action-coloumn-cls{
// left: 1184px !important;
// }