.acceptbutton.x-btn-default-small {
    width:70px !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background: #4caf50 !important;
    border-color: #4caf50 !important;
   
}
.rejectbutton.x-btn-default-small {
     width:70px !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background: #ea4536 !important;
    border-color: #ea4536 !important;
    
}
.sendbackbutton.x-btn-default-small {
    width:80px !important;
   background: #0277a3 !important;
   border-color: #0277a3 !important;
}

.approve-header-cls .approve-cell-css .x-grid-cell-inner{
	text-align:center !important;

}
.ddo-approval-cls .x-grid-row {
    height: 40px !important;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
} 
.ddo-approval-cls{
  
    .x-column-header-inner{
        background-color:#6F6F6F !important;
    border-color: #6F6F6F !important;
    color:white;
   // width: px !important;
   text-align: left;
width: 1300px;

    }

}

.noteditor-cls.rejecteditor-cls{
	margin-bottom:0px !important;
}

.ddo-approval-cls .x-grid-cell-inner {
        // white-space: nowrap;
        //   overflow: hidden;
        //  text-overflow: ellipsis;
        padding: 10px !important;
        // width: 100px;
         display: block;
        margin: 0;
} 
.x-form-trigger-wrap-default {
    border-style: none ;
}
.refresbuttn-cls{
    top: 34px !important;
    left: 10px !important;
}

.ddo-approvalgrid-cls{
    // position: fixed !important;
    box-shadow: 0px 2px 5px #00000029;
    border-top: 1px solid #DEDEDE !important;
    opacity: 1;
opacity: 1;
    width:1800px;
        .x-column-header-inner{

    width: 1600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 0px #00000029;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #707070;
    ::after{
        color:#0277a3  !important;
        background-image: url(/resources/images/karmaapproval/column.png) !important;
    height: 15px;
   
    background:round;
    }
}
.karmaapprovalfiltertext-cls{
    text-align: left;
font: normal normal normal 15px/20px Segoe UI;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.karmaapproval-filter-cls{
    color:white;
    background-color: #0277a3 !important;
    border-color: #0277a3 !important;
    border-radius: 5px !important;
}
.karmaapprovalsearch-cls{
    border-left:1px solid #DEDEDE !important;
    border-right:1px solid #DEDEDE !important;
}
// .karmaapproval-check-column{
    .x-grid-checkcolumn.x-grid-checkcolumn-checked:before {
        content: "\f0c8" !important;
        color: #0277A3!important;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #0277A3 !important;
        border-radius: 5px;
    }
    .fa-eye:before {
        content: "\f06e" !important;
        color:  #0277A3 !important;
    }
    .addcolomns-each-item{
        .x-form-checkbox-default, .x-form-spinner, .x-menu-item-icon {
            font-family: ExtJS !important;
            color: #0277A3 !important;
        }
    }
}
// }

// .karmaapproval-top-pagination{
//     top: none !important;
//     left: 30px;
// }
.columns-karma-cls{
    background-image: url(/resources/images/karmaapproval/column.png) !important;
    height: 15px;
   
    background:round;
}
.filter-approval-cls{
    background-image: url(/resources/images/karmaapproval/filter.png) !important;
    height: 15px;
   
    background:round;
}
.karmaapproval-top-pagination{
    // box-shadow: 0px 2px 5px #00000029;
    border-top: 1px solid #00000029 !important;
    opacity: 1;
.x-toolbar.karmaapproval-top-pagination.x-box-item.x-toolbar-default.x-box-layout-ct{
    border-width: 0px;
    width: 1030px;
    // height: 80px;
    right: auto;
    left: 0px;
    margin: 0px;
    /* top: 211.5px; */
}

}

.addcokumns-items-check{
    .x-component.x-box-item.x-component-default.x-menu-item-cmp.x-menu-item-cmp-default.x-menu-item-indent-default{
        text-align: left;
        font: normal normal 600 15px/20px Segoe UI;
        letter-spacing: 0px;
        color: #242424;
        opacity: 1;
    }
    .x-container.x-form-checkboxgroup.x-form-item.x-form-item-default.x-box-item.x-container-default.x-vbox-form-item.x-form-item-no-label.x-menu-item-cmp.x-menu-item-cmp-default.x-menu-item-indent-default{
        left:20px !important
    }
    .x-component.x-box-item.x-component-default.x-menu-item-cmp.x-menu-item-cmp-default.x-menu-item-indent-default{
        left:20px !important
    }
    .x-form-checkbox-default, .x-form-spinner, .x-menu-item-icon {
        font-family: ExtJS !important;
        color: #0277A3 !important;
    }
}
.showiconcolumn-cls{
    background-image: url(/resources/images/karmaapproval/column.png) !important;
    height: 15px;
    background:round;
}