.mainmenu-cls {
    background-color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
}

.listItem-cls {
    background-color: #000000;
    color: #a9a4a4;
}

.title-cls i {
    margin-right: 3%;
}

.listItem-cls.x-list-item,
.listItem-cls.x-list-item.x-list-item-tpl.x-list-footer-wrap {
    border-width: 0px;
   //text-align: center;
   //vertical-align: middle;
   padding-left: 25%;
   //padding: 15px;
   //color: #8C8B8B;
}

 .title-cls {
    font-weight: bolder;
    font-size: 20px;
}

.listItem-cls.x-list-item.x-item-selected .x-dock-horizontal, .x-list-item.x-item-selected.x-list-item-tpl {
    background: #000 !important;
}

