.projectapproval-cls{
    .x-column-header-inner {
        padding: 7px 10px 6px;
        background-color: #6f6f6f !important;
        border-color: #6f6f6f !important;
        color: aliceblue !important;
    }
}