   
    
    .ddoRatingSelfwindow .approval .x-btn-inner-default-toolbar-small{
        color:white;
    }
    .ddoRatingSelfwindow .approval {
       background-color:  #4caf50 !important;
       border-radius: 2px !important;
       margin: 20px 30px 5px 18px;
       padding:0 9px;
        height: 45px;
        left: 603px !important;
       
    }
    .ddoRatingSelfwindow .x-form-item-label-default.x-form-item-label-top > .x-form-item-label-inner{
padding:0;
    }
   
    .ddoRatingSelfwindow .nom-submit-cls{
border-radius: 0px !important;
height: 36px;
padding:0 12px;
margin: 20px 5px 5px 18px;
font-size: 17px;
}


.ddoRatingSelfwindow .ddo-adddetails-combo .x-form-trigger-wrap.x-form-trigger-wrap-default{
    border: 1px solid #aeaeae;

}

.ddoRatingSelfwindow .nominate-btn-cls{
    border-color: lightgrey !important;
    
    box-shadow: 2px 2px 2px 0px #aeaeae !important;
}
       
    .ddoRatingSelfwindow {
    // border: none !important;
    border-radius: 3px;
    border: none !important;
   
    }
    .ddoRatingSelfwindow .nominate-form-htmleditor-cls{
    // top: 205px !important;
    width:550px !important;
    // margin: 0px 0 0 10px !important;
    }
    .ddoRatingSelfwindow .textareaBorder {
        .x-html-editor-input {
        border:0 !important;
    }
    .x-html-editor-container{
        border:1px solid grey !important;
    }
    }
    .ddoRatingSelfwindow .nom-toolbar-cls {
        padding: 0px !important;
        border-top: 1px solid #dcdcdc !important;
        // margin: 15px 0px 0 0;
        // top: 560px !important;
        // height: 50px;
    }
    .ddoRatingSelfwindow .nominate-form-htmleditor-cls .x-htmleditor-iframe, .x-htmleditor-textarea{
        width:550px;

    }

    
    .ddoRatingSelfwindow .nominate-form-htmleditor-cls .x-html-editor-container{
        border-radius: 3px;
        padding:6px;
    }
    .ddoRatingSelfwindow .ddo-rating-form {
    height: 236px !important;
    width: 100% !important;
    padding: 4px 24px;
    } 
    .ddoRatingSelfwindow .ddo-rating-grid{
    margin: 10px auto;
    width: 90% !important;
    border-top: 1px solid grey;
    border-radius: 3px;
    text-align:center !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important ;
    }
    
    .nominate-btn-cls .x-btn-default-toolbar-small {
    color: #000 !important;
    left: 3px !important;
    background: #fff !important;
    border-color: lightgrey !important;
    border-radius: 4px !important;
    box-shadow: 1px 1px 1px 0px #aeaeae;
    height: 40px;
    }
    .ddoRatingSelfwindow .nominate-karmascore-cls{
        margin: 10px 40px 0 0px !important;
        padding: 1.5% 0% 1.5% 0%;
        width: 110px !important;
        height: 110px !important;
        
       
    }
    .ddoRatingSelfwindow {
    border-top: 1px solid white;
    margin: 22px 6px 0px;
}
    .ddoRatingSelfwindow .nominatekarmascore-icon-cls:before{
        top: 17px;
    }
    .ddoRatingSelfwindow .nominate-cls-text-above-icon{
        font-size: 13px;
        color: #fff;
        padding-top: 17px !important;
        padding-bottom: 3px !important;
        }
  

    .ddoRatingSelfwindow .x-grid-header-ct {
        margin: 0;
        border-width:0px !important;
        box-shadow: 0;
    }

    .ddoRatingSelfwindow .x-column-header-inner {
    background-color: grey;
    border: none !important;
    color: white;
    text-align: center;

}
.removeLine{
    border-width:0px !important;

}

.num-field .x-form-text{  
    text-align: center;
}
.num-field{
    // border-bottom: 2px solid gray;
    margin: 0px 0 0 5px !important;
    text-align: center;
    
}
.ddoRatingSelfwindow .htmledit-lable .x-form-item-label-default.x-form-item-label-top > .x-form-item-label-inner{
    color: grey;
}
.ddoRatingSelfwindow .ddo-rating-grid .x-grid-view{
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.ddoRatingSelfwindow .ddo-rating-grid .x-grid-cell-inner{
    text-align: center !important;
    vertical-align:center !important;
    }
    .ddoRatingSelfwindow .hours .x-grid-cell-inner{
    border: 1px solid;
    margin: 1px 50px;
    padding: 2px;
    border-radius: 2px;
    
}

.ddoRatingSelfwindow {
    .x-window-body-default {
        border: none !important;
        border-color: transparent !important;
    }
    &.x-window-default {
        border: 0px solid transparent !important;
    }
   
}

.ddoRatingSelfwindow{
    .x-window-header {
        border: none !important;
        background-color: transparent !important;
    }
    .x-window-header-title-default > .x-title-text-default {
        text-align: center;
        color: #000 !important;
    }
    &.x-window-default {
        border: 0px solid transparent !important;
    }
    .x-header > .x-box-inner {
        // border-bottom: 1px solid #dcdcdc !important;
        padding: 15px;
    }
    .ddo-toggle-button.x-btn-default-small {
        background: #7d7474 !important;
        border-color: #7d7474 !important;
        border-radius: 0px !important;
    }
}
.ddoRatingSelfwindow .x-window-header .x-tool-close:before{
    content: '\f00d';
    font-size: 23px;
    position: relative;
    font-weight: lighter;
    right: 2px;
    bottom: 5px;
    color: #575757 !important;
    background: #fff !important;
}
.ddoRatingSelfwindow .nom-toolbar-cls .x-box-inner {
    // height: 50px !important;
}

.disabled-month-year, .disabled-month-year:hover{
    color: #ccc !important;
    background-color: #fff !important;
}
// .selfNom-form {
//     //padding: 25px 28px !important;
// }
.add-btn-self-nominate{
    margin-top: 27px !important;
    right: 2px !important;
    left: auto !important;
    border-radius: 0px !important;
}

.nominate-karmascore-container-cls{
    position:relative;
    .x-box-inner{
        height: 275px !important;
    }
}
.ddoRatingSelfwindow .ddo-rating-form .x-panel-body-default {
    height: 255px !important;
}
.approval{
    font-size: 15px;
}
.html-no-border {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid gray !important;
    font-size: 12px !important;
    overflow: hidden !important ;
}