.chart-title .x-panel-header-title .x-title-text {
    color: #fff !important;
    font-weight: 600 !important;
}
.second-div {
    border: 1px solid orange;
    border-radius: 50%;
    background:orange;
    height: 250px;
    padding-top: 65px;    
    width: 250px;
}
.first-div {
    
    padding-top: 55px;
    padding-left: 100px;
    text-align: center;
}
.first-div p {
    text-align: center;
    font-size: 50px;
    font-weight:600;
    color:#fff;
}