.karmascore-cls-hr{
   // width: 30% !important;
   width: 187px !important;
    padding: 5px;
    position: relative;
    margin-left: 10px; 
    .x-form-trigger-default {
        vertical-align: text-top !important;
        border-bottom: 1px solid #dcdcdc !important;
    }
    .x-form-text-default {
        border-bottom: 1px solid #dcdcdc !important;
    }
    .x-form-empty-field-default {
        border-bottom: 1px solid #dcdcdc !important;
    }
    .x-form-text-default {
        background-color: #ececec;
    }
}
.karmascore-cls-hrreview {
    width: 187px !important;
    padding: 5px;
    position: relative;
    margin-left: 10px; 
    .x-form-trigger-default {
        vertical-align: text-top !important;
        border-bottom: 1px solid #dcdcdc !important;
    }
    .x-form-text-default {
        border: 1px solid #dcdcdc !important;
    }
    .x-form-empty-field-default {
        border-bottom: 1px solid #dcdcdc !important;
    }
}
.karma-comments-hr{
    padding: 5px;
    position: relative;
    margin-left: 10px; 
    border:1px solid #dcdcdc !important;
    top: 430.954px !important;
    height: 132.068px !important;
}
.hr-lable-cls{
    top: 406.954px !important;
}
.karma-submit-hr{
    width:70px !important;
    left:170px !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background: #4caf50 !important;
    border-color: #4caf50 !important;
    .x-btn-inner-default-toolbar-small {
        font: 400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
         color: white; 
    }
}
.accept-icon-cls{
.x-action-col-icon.x-action-col-0.x-fafa-arrow-right{
    color:#53ee35 !important;
}
}