.DDO-logo-wrapper {
    text-align: center;
    margin: 5% 5% 3% 5%;/*Changed*/
}

.DDO-logo-wrapper .x-panel-body {
   background-color: transparent !important;
}

.DDO-contentCls{
	font-weight: 800;
	color: aliceblue;
}

.DDO-logo{
 width: 90px; 
 height: 70px;
 border-radius: 0;
 background-color:transparent;
}

.DDO-logo .h2 {
	color:aliceblue;
}