//$panel-body-background-color : #f6f6f6;
$panel-frame-border-radius : 10px;
//$panel-frame-base-color :gray;
$circle-border-radius1:5%;

$todo-grid-row-cell-focus-border-width : 0px;
$todo-grid-body-background-color :#fff;
$todo-grid-row-cell-over-background-color :#fff;
$todo-grid-row-cell-selected-background-color : #fff;
$todo-grid-row-cell-border-width : 0px;
$todo-grid-cell-special-border-width :0px;
$todo-grid-row-cell-color : #f4d03b;
$todo-grid-row-cell-font-weight :500;
$todo-grid-row-cell-font-size : 12px;
$todo-grid-row-cell-font-family :Open Sans;



$form-text-field-border-width :0px;
$form-text-field-empty-color :#000;
$form-text-field-font-family :Open Sans;
$form-field-empty-color :#000;


$toolbar-border-width : 0px;
$toolbar-border-style :none;