.DDO-bgImgCls {
	height: 100%;
	width:100%;
}
.x-container.no-bg-container .x-autocontainer-outerCt .x-autocontainer-innerCt {
	background-color: transparent !important;
}

.validTick-icon-field{
    left: 436px !important;
    top: 8px !important;
} 

