.achieved-btn-cls {
    background: #2CA24A !important;
    border-radius: 5px !important;
    //left: 86% !important;
    .x-btn-inner-default-toolbar-large {
    color: white !important;
    }
}

.back-btn-cls{
    background: #000 !important;
    border-radius: 5px !important;
    .x-btn-inner-default-toolbar-large {
    color: white !important;
    }
}

.exe-plan-toolbar.x-toolbar-default {
	background: #F6F6F6 !important;
    padding-left: 0px !important;
}

.exe-plan-mainview-cls{
	margin: 10px;
}

// .exe-plan-mainview-cls .x-panel-body {
//     background: #F6F6F6 !important;
// }

// .x-panel-body-default{
// 	    background: rgba(191, 19, 19, 0);
// }