// .down-icon-cls{
//     .x-action-col-icon {
//         color: greenyellow !important;
//         font-size: 18px;
//         height: 18px;
//         width: 18px;
//         cursor: pointer;
//     }
// }
.x-fa.fa-download{
    color: #35ee35 !important;
    font-size: 18px;
    height: 18px;
    width: 18px;
    cursor: pointer;
}