.quote {
    color: aliceblue;
    float: right;
    position: relative;
    max-width: 100%;
}

.quote h1 {
    font-size: 25px;
}

.quote h2 {
    font-size: 15px;
}

.DDO-loginGreeting-cls {
    margin: 0% 18% 0% 18%;
}
