@font-face {
    font-family: 'WtcFontResource';
    src: url('/resources/fonts/ddo/WTC_DDO.ttf');    
    font-style: normal;
}
.people-form-cls {
    // padding-bottom: 10px;
    width: 100% !important;
    height: 50px;
    overflow: visible !important;
    border-bottom: 1px solid #d0d0d0;
    // .x-box-inner {
    //     left: 100px !important;
    // }
    .resource-check-cls{
        left: 0px !important;
    }
}
.people-search-icon-field {
    &.x-btn-default-small {
       z-index: 1;
       cursor: initial;
       top: 10px !important;   
       width: 21px !important;
       height: 21px !important;
       left: 740px !important;
       border-color: $color-white !important;
       background-size: cover !important;
       background-color: $color-white !important;
       @include transform(translate(-295px, -1px));      
    }
    &.x-btn-default-small{
        font-family: 'WtcFontResource' !important;
        font-size: 35px;
    }
    &.x-btn-default-small:before {
        content: '\0041' !important;
        font-size: 24px;
        position: relative;
        font-weight: 500;
        right: 10px;
        bottom: 7px;
    }
}
.ddo-people-text {
    // width: 274px !important;
    // border: 1px solid rgba(136, 129, 129, 0.12);
    width: 160px;
    left: 420px !important;
height: 30px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #00000019;
border-radius: 5px;
opacity: 1;
    .x-form-text-default{
        padding-left:32px;
        width: 156px;
height: 16px;
text-align: right;
font: normal normal normal 13px/16px Roboto;
letter-spacing: 0px;
color: #00000066;
opacity: 1;
    }
}
.total-btn-cls {
    left: 285px !important;
    &.x-btn-default-small {
        background-color: #F3B404 !important;
        border-color: #F3B404 !important;
        @include border-radius(6px !important);
    }
    .x-btn-inner-default-small{
        font-size: 14px;
        font-weight: 500;
    }
}
.projects-add-btn{
    left: 145px !important;
}
.peopleListView-cls {
    .scorerName-cls {
        color: #fab82e;
        font-weight: 500;
        padding-left: 5px;
        top: 23px !important;
        position: relative;
        margin-top: 22px !important;
        margin-left: 8px !important;
        width: 180px !important;
        font-size: 14px !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .profession-cls {
        color: #9a9a9a;
        padding-left: 6px;
        position: relative;
        top: 23px;
        margin-left: 7px !important;
        font-size: 12px !important;
        margin-top: -15px;
        overflow: hidden;
        white-space: nowrap;
    }
    .profileImage-cls {
        float: left;
        height: 55px;
        width: 55px;
        position: relative;
        top: 14px !important;
        left: 5px;
        @include border-radius(50%);
        @include box-shadow(0px 0px 7px 3px #e6e3e6);
    }
    .score-wrapper {
        .score-cls {
            height: 50px;
            width: 50px;
            float: right;
            position: relative;
            padding-top: 16px;
            color: $color-black;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            background:rgba(165, 156, 156, 0.31) !important;    
            @include border-radius(50%);
        }
    }
}
.people-ct-cls {
    top: 15px;
    // .x-box-inner {    
    //     width: 1500px !important;    
    // } 
    height: 375px;
}
.ddo-people-view {
    width: 100% !important;
    overflow-y: scroll;
    height: 320px;
    overflow-x: hidden;
    .ddo-people-list-item {
        display: table-cell;
        width: 297px;
        margin: 7px;
        margin-top: 40px;
        background: transparent;
        //padding: 5px;
        cursor: pointer;    
        vertical-align: top;
        @include border-radius(5px);
    }
}
.people-thumb-wrap {
    display: inline-block;
    width: 39%;
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 0px;
    background: white;
    padding: 1px;
    @include border-radius(4px);
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
    @include transition(all 0.3s cubic-bezier(.25, .8, .25, 1));
    &:hover {
        @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23));
    }
}
.role-cls {
    width: 100%;
    height: 30px;
    float: left;
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 14px;
    margin: 20px 5px 0;    
}
.allocation-cls {
    float: right;
    font-size: 12px;
}


.ddo-people-delete {
    font-family: 'WtcFontResource' !important;
    font-size: 35px;
    background:white !important;
    position: relative;
    bottom: 100px;
    left: 229px;
    height:12px;
    width:12px;
    cursor:pointer;
}

.ddo-people-edit {
    font-family: 'WtcFontResource' !important;
    font-size: 35px;
    background:white !important;
    position: relative;
    bottom: 100px;
    left: 224px;
    height:12px;
    width:12px;
    cursor:pointer;
}
.shadow-cls{
    background:rgb(226, 5, 5) !important;
    .profession-cls{
            color: #000 !important;
    }
}

.disable-people-cls {
    background: #E6E6FA !important;
}

.future-resources-color{
    background: rgb(53, 53, 116);
}