.createaccount-cls {
    .x-panel-header-default {
        background: #000 !important;
    }
    .x-form-trigger-default {
        vertical-align: text-top !important;
        border-bottom: 1px solid #dcdcdc !important;
    }
    .x-form-text-default {
        border-bottom: 1px solid #dcdcdc !important;
    }
    .x-form-empty-field-default {
        border-bottom: 1px solid #dcdcdc !important;
    }
    .x-form-item-label-inner {
        font-weight: 500;
    }
}