.redeem-category-view {
    background-color : #FFFFFF !important;

    .redeem-category-field {
	    .x-form-display-field-default {
		   color      : #404040;
		   text-align : center;
		   font-weight: bold;
		}
	}
	.category-grid {
		.x-grid-item {
			background-color : #FFF !important;
		}

		.x-grid-dirty-cell > .x-grid-cell-inner:after {
			content : "";
		}
		
	}
	
}
.x-grid-item-focused {
	.x-grid-cell-inner {
		z-index : 0 !important;
	}
}