.DDO-backBtnCls {
	background-color: #84E184 !important;
}

.DDO-backBtnCls  .x-btn-inner-default-small{
	color: #000000 !important;
	font: italic 600 12px/15px 'Open Sans';
}

.DDO-forgotPswdTextCls div{
	font-size: 21px;
	margin:0 0 50px -22px;
}

.DDO-comingsoonTextCls div{
    font-size: 42px;
    margin:0 0 50px -20px;
}
.forgot-cld {
	background:#fff !important;
}