.redeem-view {
	&.x-window-default {
		border: 0px solid #fff !important;
	}
	.x-window-header {
		background: #fff !important;
		border: 0px solid #fff !important;	
	}
	.x-tool-close:before {
    	color: #000;
    	bottom: 3px;
    	font-size: 20px;
		background: #fff;
    	position: relative;
	}
}
.x-grid-item-focused .x-grid-cell-inner:before{
	border:0px !important
}
.x-window-focused{
	border:0px !important
}